
*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    list-style: none;
    /* text-decoration: none; */
}


.welcome{
    color: black;
    background-image: url("../img/9.jpg");
    background-size: cover;
    /* opacity: 50%; */
    /* font-size: 20px; */
    /* margin: 0; */
    /* height: 100%; */
    /* top: 0px;

/* 
    height: 100vh;
    width: 100vw;
    background-image: url('../img/9.jpg');
    background-repeat : no-repeat;
    background-size : cover; */
}  


.header{
    background-color: black;
    opacity: 0.8;
    height: 4em;
    
    display: flex; justify-content: space-between;

    
    /* text-align:justify; */
}

.header_logo span{
    color: white;
    font-weight: 600;
    font-size: 30px;
    letter-spacing:2px;
    margin-left: 40px;

}

.wrapper div{
    background-color: white;
    width: 22px;
    height: 2px;
    margin: 4px 50px;
    
    /* display: grid; */
    /* margin: auto; */
    /* display: flex; */
    /* color: white; */
}
.main1{
    color: white;
    text-align: center;
    margin-top: 150%;
}
.main1 > p{font-size:medium;}
.main1 > h1{font-size:x-large; line-height: 30spx; bottom: 0px; }


.fruit{
    /* text-align:ce; */
    margin-top: 10%;
    margin-left: 25px;
    color: white;

}
.fruit > h1{line-height:35px;}
.fruit > p{margin-top: 2%; line-height:20px; font-size: small;}
.fruit > img{margin-top: 5%;}


.cookie{
    color:white;
    text-align:center;
    margin-top: 15%;
}
.cookie > img{margin-top: 5%;}
.cookie > p{margin-top: 5%; line-height:20px; font-size: 30;}


.roast{
    color: white;
    text-align:right;
    margin-top: 15%;
}
.roast > img{margin-top: 5%;}
.roast > p{margin-top: 5%; line-height:20px; font-size: 30;}
.roast >h1 {margin-top: 0%;}


.place{
    background-image: url("../img/b14.jpg");
    background-size:cover;
    background-position: center;
    width: 350px;
    height: 350px;
    text-align:center;

    margin-top: 15%;
    
}
.place > h1 {
    color: white; 
    text-align: center;
    /* text-align: initial; */
}
/* .place > img{margin-top: 5%;} */
.place1 > p{text-align:center; margin-top: 5%; line-height:20px; font-size: 30;}


.footer{
    background-color: dimgrey;
    background-size: 150px;
    margin-top: 15%;
    text-align: center;
    color: white;
}

.footer > h1{
    font-size: 13px;
    width: 130px;
    height: 30px;
    border: 3px solid white;
    border-radius: 10px;

}

.footer > p {font-size: 10px; margin-top: 2%; margin-bottom: 20%;} 