*{
    margin: 0px;
    padding: 0px;

}

body {
    background-color: rgb(30, 26, 26);
}


.welcome{
    height: 600px;
    color: black;
    background-image: url("../img/9.jpg");
    background-size: cover;
    background-repeat : no-repeat;

}  


.header{
    background-color: black;
    opacity: 0.8;
    height: 4em;
    
    display: flex; 
    justify-content: space-between;

    /* text-align:justify; */
}

.header_logo span{
    color: white;
    font-weight: 600;
    font-size: 30px;
    letter-spacing:2px;
    margin-left: 40px;
    position: absolute;
    top: 10px;
    /* bottom: px; */

}

.wrapper div{
    background-color: white;
    width: 22px;
    height: 2px;
    margin: 4px 50px;
    position: relative;
    top: 20px;
    right: -10px;
}
.main1{
    color: white;
    text-align: center;
    /* margin-top: 150%; */
    position: relative;
    top: 70%;
}
.main1 > p{font-size: 13px; line-height: 25px; letter-spacing: 0px; }
.main1 > h1{font-size: 23px; line-height: 30px; letter-spacing: 0px; }


.fruit{
    margin-top: 10%;
    margin-left: 25px;
    color: white;

}
.fruit > h1{font-size: 20px; line-height:25px; letter-spacing: -1px;}
.fruit > p{margin-top: 2%; line-height:20px; font-size: 12px; letter-spacing: -1px;}
.fruit > img{margin-top: 5%;}


.cookie{
    color:white;
    text-align:center;
    margin-top: 12%;
}
.cookie > h1{font-size: 20px; letter-spacing: -1px;}
.cookie > img{margin-top: 5%;}
.cookie > p{
    margin-top: 3%; 
    line-height:20px; 
    font-size: 12px; 
    letter-spacing: -1px;}


.roast{
    color: white;
    text-align:right;
    margin-top: 15%;
    margin-right: 25px;
}
.roast > img{margin-top: 5%;}
.roast > h1 {font-size: 20px; letter-spacing: -1px;}
.roast > p{
    margin-top: 2%; 
    line-height:20px; 
    font-size: 12px; 
    letter-spacing: -1px;}



.place{
    background-image: url("../img/b14.jpg");
    margin-top: 15%;
    height: 300px;
    background-size: cover;
    background-repeat : no-repeat;


}
.place > h1{
    position: relative; top: 100px; 
    color: white; font-size: 20px; 
    letter-spacing: -1px; text-align: center;
}
.final > p{
    text-align:center;
    color: white; 
    margin: 20px;
    line-height:20px;
    font-size: 12px;
    margin-bottom: 40px;

}


.footer{
    background-color: dimgrey;
    background-size: 100px;
    padding: 20px;
    text-align: center;
    color: white;
}

.footer > h1{
    font-size: 10px;
    width: 100%;
    display: inline;
    padding: 8px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: dimgrey;
}

.footer > p {
    color: white;
    font-size: 12px; 
    background-color: dimgrey;
    margin: 20px 0;
} 